<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <a href=""><button>Home</button></a>
            <a href="/twang/"><button>Twang</button></a>
            <a href="/notifications/"><button>Notifications</button></a>
            <!-- <a href="/notifications/"><button>My Profile</button></a> -->
            <!-- ^^^ FIX LINK; make it for your username url -->
            <a href="/logout/"><button>Logout</button></a>
        </div>
    </body>
</html>
